@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet');

:root {
    --primaryColor:  #f09d51;
    --mainWhite: #fff;
    --mainBlack:#222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s ease-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Source Sans Pro", sans-serif;
}

/* ----------NAVBAR---------- */

nav{
 height: 44px;
 background: #000;
}

.menu{
 position: relative;
 margin: 0 auto;
 width: 1000px;
 overflow: hidden;
}

.menu ul {
 width: 100%;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: space-between; 
}

 .menu ul li {
 list-style: none;
}

.menu ul li,
.menu ul li a
{
 color:#fff;
 line-height: 44px;
 text-decoration: none;
}

.menu ul li .fa-apple{
 font-size: 20px;
}

.menu ul li a.menu-item{
 transform: scale(1);
 transition: 0.5s;
 display: block;
}

.menu ul li a.menu-item.hide-item{
 transform: scale(0);
}

.menu ul li:nth-child(2) a.menu-item.hide-item{
 transition-delay: 0.6s;
}

.menu ul li:nth-child(3) a.menu-item.hide-item{
 transition-delay: 0.5s;
}

.menu ul li:nth-child(4) a.menu-item.hide-item{
 transition-delay: 0.4s;
}

.menu ul li:nth-child(5) a.menu-item.hide-item{
 transition-delay: 0.3s;
}

.menu ul li:nth-child(6) a.menu-item.hide-item{
 transition-delay: 0.2s;
}

.menu ul li:nth-child(7) a.menu-item.hide-item{
 transition-delay: 0.1s;
}

.menu ul li:nth-child(8) a.menu-item.hide-item{
 transition-delay: 0s;
}

.menu ul li:nth-child(2) a.menu-item{
 transition-delay: 0s;
}

.menu ul li:nth-child(3) a.menu-item{
 transition-delay: 0.1s;
}

.menu ul li:nth-child(4) a.menu-item{
 transition-delay: 0.2s;
}

.menu ul li:nth-child(5) a.menu-item{
 transition-delay: 0.3s;
}

.menu ul li:nth-child(6) a.menu-item{
 transition-delay: 0.4s;
}

.menu ul li:nth-child(7) a.menu-item{
 transition-delay: 0.5s;
}

.menu ul li:nth-child(8) a.menu-item{
 transition-delay: 0.6s;
}

.search-form{
 position: absolute;
 top: 0;left: 50%;
 transform: translateX(-50%);
 width: 600px;
 height: 44px;
 opacity: 1;
 visibility: hidden;
 transition: 0.8s;
 transition-timing-function: ease-out;
}

 .search-form.active{
 opacity: 1;
 visibility: visible;
 transition-delay: 0.9s;
 transform: translateX(-50%);
 display: inline;
}

.search-form input {
 width: 100%;
 height: 44px;
 background: transparent;
 color: #fff;
 border:none;
 outline: none;
 font-size: 16px;
}

.search-form input::placeholder{
 color:#fff
}

.search-form:before {
 content: '\f002';
 position: absolute;
 top: 12px;
 left: -26px;
 font-size: 18px;
 color: #fff;
 font-family: fontAwesome;
}

.close
{
 position: absolute;
 right: 0;
 top: 0;
 height: 44px;
 background: #000;
 color:#fff;
 line-height: 44px;
 font-size: 18px;
 text-align: right;
 width: 20px;
 cursor: pointer;
 opacity: 0;
 visibility: hidden;
}

.close.active {
 opacity: 1;
 visibility: visible;
}

/*  */

.section {
    background-blend-mode: screen;
}
.navbar{
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex; /* flex: flexbox; difference and in Netflix project */
    /* justify-content: center; */
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
}

.navbar-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;  /*//why */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;  /*//why */
}

.nav-icon{
    font-size: 1.5rem;
}

/* .cart-btn{
    position: relative; /*/
    /* cursor: pointer; */
/* }z */

.cart-items{
    position: absolute;
    top: 2px;
    right: 60px;
    background: var(--primaryColor);
    padding: 0px 5px;
    border-radius: 30%;
    color: vaR(--mainWhite);
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
}

/* --------------HERO-------------- */
.cont{
    padding-top: 60px;
}
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
  }
  
.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    /* color: #929796; */
    background-color: white;
    border-radius: 40px;
    box-shadow: 5px 10px 18px #888888;
}



.grid-item-1 {
    /* height: 300px; */
    position: relative;
    left: 1000px;
    background: #cc9966;
    margin: 5%;
    border: 5px;
    /* border-color: black; */
    border-radius: 10px;
    /* background: url("images/IN_35950027_001.jpg") center/cover no-repeat; */
}

.grid-item-2 {
    background: url("./public/images/hero-bcg.jpeg") center/cover no-repeat;
    z-index: 10;
}

.grid-item-4 {
    background: url("./public/images/Minimalist-Interior-Design-How-To.png") center/cover no-repeat;
    z-index: 11;
}

.grid-item-3 {
    background: url("./public/images/IN_35950027_001.jpg") center/cover no-repeat;
    z-index: 9;
}

  .span-1 {
    grid-column-end: span 1;
    grid-row-end: span 2;
  }
.span-2 {
    grid-column-end: span 3;
    grid-row-end: span 3;
  }
  
  .span-3 {
    grid-column-end: span 1;
    grid-row-end: span 2;
}

.span-4 {
    grid-column-end: span 3;
    grid-row-end: span 2;
}

.hero{
    min-height: calc(100vh - 60px); /* WOOOW*/
    /* background: url("./images/hero-bcg.jpeg") center/cover no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    /* z-index: 10; */
    margin: 5%;
    border: 5px;
    border-color: black;
    background: peachpuff;
    border-radius: 10px;
    position: relative;
    top:50px;
    left: 150px;
    width: 500px;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    /* display: inline-block;*why */  
    padding: 2rem;
    box-shadow: 5px 10px 18px #888888;
    z-index: 100;
}

.banner-title{
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
}

.banner-btn{
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition); /*why*/
    cursor: pointer;
}

.banner-btn:hover{
    background: transparent;
    color: red;
}

.grid-item-2 {
  position:relative;
  top:-20px;
  left:30px;
  width:300px;
}

.grid-item-3 {
  position:relative;
  top:40px;
  left:80px;
  width:300px;
}

.grid-item-4 {
  position:relative;
  top:150px;
  left:-300px;
  width:300px;
}

.grid-item-5 {
    position:relative;
    top:50px;
    left:270px;
    width:300px;
    height: 300px;
     
  }

  .grid-item-6 {
    position:relative;
  
    left:340px;
    width:600px;
    height: 400px;
    background: url("./public/images/livingroom-cat-new.jpg") center/cover no-repeat;
  }

  .grid-item-8 {
    position:relative;
    top:290px;
    right:140px;
    width:300px;
    height: 300px;
     
  }

  .grid-item-7 {
    position:relative;
    top:-250px;
    left:140px;
    width:600px;
    height: 400px;
    background: url("./public/images/9850_Sofa_RS.jpg") center/cover no-repeat;
  }

.text-banner {
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border-radius: 40px;
    width: 80%;
}



/* --------------PRODS-------------- */

.products {
    padding: 4rem 0;
}
.section-title h2 {
text-align: center;
font-size: 2.5rem;
margin-bottom: 5rem;
text-transform: capitalize;
letter-spacing: var(--mainSpacing);
}

.products-center {
width: 90vw;
margin: 0 auto;
max-width: 1170px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
grid-column-gap: 1.5rem;
grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.bag-btn {
    position: absolute;
    visibility:hidden;
   top: 40%;
  right:30px;
  background: #f09d51;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--all 0.3s ease-out);
  transform: translateX(101%); 
  cursor: pointer; 
}

bag-btn:hover{
    color: var(--mainWhite);
}

.container {
    background: none;
    display: inline-flex;
    flex-flow:wrap;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
  }
  .box {
    position: relative;
    width: 210px;
    height: 210px;
    margin: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: transform 375ms, width 275ms 100ms, height 375ms, border-radius 375ms;
  }
  
  .box img {
      object-fit: cover;
      zoom:2;
      display: block;
      margin: auto;
      height: auto;
      max-height: 100%;
      width: auto;
      max-width: 100%;
      /* height: 300px; */
      /* width: 100%;
      background-size: cover;
      background-position: center; */
  }
  
  .bag-btn {
  position: absolute;
    visibility:hidden;
   top: 40%;
  right:30px;
  background: #f09d51;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--all 0.3s ease-out);
  transform: translateX(101%); 
  /*cursor: pointer; /**/
  }
   
  /* img:hover {
      transform: translateX(0); /*whyyyyy
  }  */
  
  .box.open .bag-btn{
     transform: translateX(0);
    visibility:visible;
  }
  
  .box.open {
      width: 270px;
      height: 330px;
      border-radius: 1rem;
      translate: transform 375ms, width 375ms, height 275ms 100ms, border-radius 275ms 100ms;
  }
  
  .box div.content {
      position: absolute;
      margin: auto;
      left: -9999px;
      right: -9999px;
      transform-origin: top;
      width: 330px;
      transform: scale(1.15);
      height: 330px;
      border-radius: 3px;
      background: #fff;
      overflow: hidden;
      transition: transform 375ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  .box.open .content {
    transform: scale(1);
}

.box .line {
    transform: scale(0.01);
    visibility:hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.box.open .line {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
    text-align: center;
    transform: scale(1.7);
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s linear;
    text-align: center;
    transform: scale(1.7);
    text-align: center;
    
    font-size: 0.5rem;
    font-family: "Source Sans Pro";
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    font-weight:bolder;
}

.content img{
    width:300px;
}

.fa-shopping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn{
    transform: translateX(0); /*whyyyyy*/
}

.product-img{
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}

.img-container:hover .product-img{
    opacity: 0.5;
}

.product{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /*   margin: 0; */
    cursor: pointer;
    overflow: hidden;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: transform 375ms, width 275ms 100ms, height 375ms, border-radius 375ms;
}

.product h3{
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    
    
}

.product h4{
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    color: var(--primaryColor);
}

/* ------------CART---------- */

.cart-overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background:rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    /* background: rgb(231, 226, 221); */
    /* color: #fff; */
    background: #fff;
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing
    );
    margin-bottom: 2rem;
}

/* ------------ITEMS OF THE CART------------ */

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}

.item-amount {
    text-align: center;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up, .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}

/* ------------------FOOTER---------------- */

.cart-footer{
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.cart-footer h3{
    text-transform: capitalize;
    margin-bottom: 1rem;
}

footer{
	position: fixed;
	bottom: 0;
}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}